.scroll-indicator-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.scroll-down {
  position: fixed;
  bottom: 30px;
}

.scroll-up {
  position: fixed;
  top: 30px;
}

.scroll-left {
  left: 30px;
  right: auto;
  top: 50%;
  transform: translateY(-50%);
}

.scroll-right {
  right: 30px;
  left: auto;
  top: 50%;
  transform: translateY(-50%);
}
